<ol class="post-list">
    <!-- begin the loop -->
    <!-- html code between loop will be repeated for every item in '/posts' -->
    {{#each posts as |post|}}
    <li>
        {{>post-info post}}
    </li>
    <!-- end the loop -->
    {{/each}}
</ol>